.two-column {
  margin: 50px auto;

  p {
    margin: 0;

    + p {
      margin-top: 16px;
    }
  }
}

.leading {
  background: #fff;
  padding-top: 40px;

  &__left {
    text-align: center;
  }

  &__inner {
    padding: 0 0 30px;
  }

  &__right {
    padding-top: 70px;
  }

  .h2 {
    color: rgba(#3f4d60, .6);
  }

  .slide {
    max-width: 975px;
    margin: 0 auto;
    background: #fff;
  }
}

.phone_image {
  text-align: center;
  padding: 0 40px;
  position: relative;
  max-height: 720px;
  overflow: hidden;
  width: 350px;
  float: right;
  img {
    max-width: 100%;
  }
}

.about {
  text-align: center;
}

.message {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  background: #ab00ff;
  font-size: 18px;
  @include border-radius(4px);
  padding: 27px 20px;
  margin: 0 -40px;
}


.screen-slideshow {
  position: absolute !important;
  top: 1px;
  left: 0;
  height: 100% !important;
  right: 0px;
  z-index: 2;
  margin: 0 auto;
  padding: 0 40px;
  img {
    width: 100% !important;
    height: auto !important;
  }
  .rsOverflow {
    height: 100%!important;
  }
}


.circle_loader {
  padding: 80px 0;
}

.image-container {
  margin: 80px -100px;

  img + .text-center {
    margin-top: 40px;
    margin-bottom: 0;
    padding-left: 100px;
    padding-right: 100px;
  }
}


.marked-data {
  font-size: 16px;
  padding: 12px 20px;

  @media all and (max-width: 767px) {
    font-size: 12px;
  }
}

hr.full {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}



.text-muted {
  color: rgba($secondary, .6);
}

.contacts {
  @include background-size(cover);
  background-position: center;
  padding: 22% 0 15%;

  &--bottom {
    padding: 65px 0 30px;
    font-size: 18px;

    p {
      color: #3F4D60;
    }
    a {
      color: #0DA7FC !important;
    }
    .sub_title {
      padding-right: 20px;
    }
  }

  &__icon {
    background: url(../img/contacts-icon.png) no-repeat;
    @include background-size(26px 73px);
    width: 26px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin-right: 10px;
    right: 100%;

    &--mail {}
    &--pin {background-position: 0 -47px; height: 30px; top: -4px}
    &--call {background-position: 0 -21px; height: 26px; top: -2px}
  }

  &__block {
    margin-bottom: 35px;
  }
}

.small_desc {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.simple_single_search {
  color: rgba($secondary, .6);

  @include transition(color .3s ease);

  &:hover {
    color: rgba($secondary, 1);
  }

  .icon--search {
    font-size: 18px;
    margin-right: 0;
  }
}

.text-red {color: #FF3E2E}
.text-green {color: #13B72A}

.latest_updated {
  font-size: 16px;
  margin-top: 22px;

  .text-muted {
    margin-right: 12px;
  }
}