.section--padding {
  padding: 70px 0 70px;
}

.section {
  &--banner {
    text-align: center;
    background: rgba(#eaedef, .4);

    &.section--padding {
      padding: 60px 20px;
    }

    .btn {
      padding: 13px 43px;
    }

    p {
      margin-bottom: 34px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--media {
    .landing--video, .video {
      margin-left: -105px;
      margin-right: -105px;
    }

    @media (max-width: 992px)  {
      .landing--video, .video {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }

  &--steps {
    background: #f7f8f9;
    padding: 52px 0;

    .status_bar {
      width: 100px;
    }

    .voting_group__group {
      margin-bottom: 8px;
    }

    .voting_group__value {
      margin-left: 0;
      display: block;
      padding-top: 5px;
      margin-bottom: 14px;
      padding-bottom: 15px;
      border-bottom: 1px solid #DFE1E5;
    }

    .voting_group__status {
      display: block;
      margin-left: 0;
    }

    @media (min-width: 768px) {
      p {
        font-size: 16px;
        line-height: 1.5em;
      }

      &.section--padding {
        padding: 40px 0;
      }
    }
  }
}

.landing {
  &--intro {
    background: #AB00FF url(../img/landing/field_big.jpg) no-repeat center;
    color: #fff;
    text-align: center;
    padding-bottom: 0 !important;

    @include background-size(cover);

    @media (min-width: 768px) {
      &.section--padding {
        padding: 130px 0;
      }
    }
  }

  &--features {
    text-align: center;

    @media (min-width: 768px) {
      &.section--padding {
        padding: 115px 0 43px;
      }
    }
  }

  &--video {
    -webkit-background-image: linear-gradient(-179deg, #0DA7FC 0%, #0388EF 100%);
    background-image: linear-gradient(-179deg, #0DA7FC 0%, #0388EF 100%);
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index:2;
      opacity: 0.9;

      -webkit-background-image: linear-gradient(-179deg, #0DA7FC 0%, #0388EF 100%);
      background-image: linear-gradient(-179deg, #0DA7FC 0%, #0388EF 100%);
      @include transition(opacity .3s ease);
    }

    .container {
      width: 1280px;
    }

    .btn_video {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: -55px auto;
      z-index: 10;
    }

    &.video_played {
      &:after {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }

      .btn_video {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &--qa {
    @media (min-width: 768px) {
      &.section--padding {
        padding: 103px 0 58px;
      }
    }

    .container {
      width: 1030px;
    }
  }

  &--apps {
    -webkit-background-image: linear-gradient(-180deg, #AB00FF 0%, #8715D4 100%);
    background-image: linear-gradient(-180deg, #AB00FF 0%, #8715D4 100%);

    @media (min-width: 768px) {
      &.section--padding {
        padding: 58px 0 52px;
      }
    }

    .h2, .h3 {
      text-align: left;
      padding-left: 35px;
      margin-bottom: 0;
      margin-top: 0;
      color: #fff;
    }

    .apps {
      padding: 12px 0;
    }
  }

  &--info {
    background: #F5F6F7;

    @media (min-width: 768px) {
      &.section--padding {
        padding: 44px 0;
      }
    }

    .landing__text {
      font-size: 16px;
      line-height: 24px;
      color: #3F4D60;

      p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
        color: #3F4D60;
      }

      b {
        font-weight: $fw-semi;
      }
    }

    .container {
      width: 1000px;
    }
  }
}

@media (max-width: 539px) {
  .landing--video {
    margin-bottom: 20px;
  }

  .landing--apps {
    text-align: center;

    &.section--padding {
      padding: 34px 0;
    }

    .h2, .h3 {
      padding: 0;
      text-align: center;
    }

    .h2 {
      margin-bottom: 0;
    }

    .h3 {
      margin-bottom: 20px;
    }
  }

  .landing--info {
    &.section--padding {
      padding: 42px 0;
    }
  }
}