.tags_list {
  margin-bottom: 30px;
}

.tag_item {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  color: rgba(#3F4D60, .6);
  letter-spacing: 0px;
  line-height: 24px;
  border: 1px solid #D3D6DB;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 4px;
  @include transition(border .2s ease);

  &:hover {
    border-color: #B3B7BA;
  }

  a {
    display: block;
    color: rgba(#3F4D60, .6) !important;
    padding: 7px 18px;

    &:hover {
      color: #3F4D60 !important;
    }
  }
}