.user_badge {
  margin-bottom: 25px;
  white-space: normal;

  @include clearfix;

  .label {
    border-radius: 3px;
  }

  &__img {
    width: 70px;
    height: 70px;
    float: left;
    border-radius: 100px;
    margin-right: 20px;

    img {
      border-radius: 100px;
      width: 100%;
    }
  }

  &__info, &__message {
    overflow: hidden;
    padding-top: 6px;

    a {
      color: inherit;
    }
  }

  &__title {
    font-size: 18px;
    color: #333333;
    letter-spacing: 1.79px;
    line-height: 32px;
    font-weight: $fw-semi;
    text-transform: uppercase;

    a {
      color: inherit;

      &:hover {
        color: rgba($secondary, .6);
      }
    }
  }

  &__desc {
    font-size: 16px;
    color: #3F4D60;
    letter-spacing: 0;
    line-height: 24px;
    color: rgba(#3F4D60, .6);

    a {
      color: rgba($secondary, .8);

      &:hover {
        color: $secondary;
      }
    }
  }

  &--small {
    margin-bottom: 0;

    .user_badge__img {
      width: 30px;
      height: 30px;
      margin-right: 17px;
    }

    .user_badge__info, .user_badge__message {
      padding-top: 4px;
    }
  }
}

.users_stack {
  position: relative;
  padding-right: 15px;

  &__item {
    //float: left;
    margin-right: -15px;
    float: right;
    position: relative;

    img {
      border-radius: 30px;
      border: 2px solid #fff;
      width: 34px;
      height: 34px;
    }

    .winner_label {
      position: relative;
      margin-left: -18px;
      margin-bottom: -26px;
      margin-right: 20px;
      z-index:2;
    }
  }

  &__count {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    line-height: 28px;
    z-index:10;
    background: rgba($secondary, .35);
  }
}