$primary: #ab00ff;
$secondary: #3F4D60;

$main-font-size: 24px;

$light: #f8f7ef;
$text: #333333;
$dark: #272723;
$gray: #909c9e;
$border: #e1e1e1;

$ff: "Proxima Nova", "Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;

$fw-black:      900;
$fw-extra:      800;
$fw-bold:       700;
$fw-semi:       600;
$fw-regular:    400;
$fw-light:      200;

$all: all .3s ease;
