<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CompetitionPlatform</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme-lykke.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-datepicker.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
                    <a asp-area="" asp-controller="Home" asp-action="About" class="navbar-brand">About</a>
                    <a asp-area="" asp-controller="Home" asp-action="Contact" class="navbar-brand">Contact</a>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>*@
    <div class="navbar text-center menu-navigation-panel">
                <a class="h4">Wallet</a>
                <a class="h4">Exchange</a>
                <a class="h4">City</a>
                <a class="h4">Corp</a>
            <hr />
    </div>
    <div class="navbar text-center menu-top-panel">
            <div class="menu-top-panel-link">
                <a class="h4">Check In</a>
                <a class="h4">Become a Citizen</a>
                <a class="h4">Open Positions</a>
                <a class="h4">Lykke Times</a>
                <a class="h4">Projects Board</a>
                <a class="h4">Blog</a>
                <a asp-area="" asp-controller="Project" asp-action="Create" type="button" class="btn btn-circle btn-primary new-project-button inline pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="navbar-default navbar-fixed-bottom text-center page-footer">
            <div class="container-fluid">
                <p>&copy; 2016 Lykke. All rights reserved</p>
            </div>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
