@{
    ViewData["Title"] = "Access Denied";
}

<div class="container">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    <p>
        Access Denied, you do not have appropriate permissions.
    </p>
</div>