@{
    ViewData["Title"] = "Access Denied";
}

<div class="container">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">Authentication Failed.</h2>

    <p>
        There was a remote failure during Authentication.
    </p>
</div>