@{
    ViewData["Title"] = "Access Denied";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Access denied</h2>

<p>
    You have denied Competition Platform access to your resources.
</p>
