@{
    ViewData["Title"] = "Blog Not Found";
}

<br />
<br />
<div class="container">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">Blog not found.</h2>

    <p>
        Blog Entry with this id was not found.
    </p>
</div>