@{
    ViewData["Title"] = "Access Denied";
}
<br>
<br>
<br>
<div class="container">
    <h2 class="text-danger">Creating Initiative projects is unavailable.</h2>

    <p>
        You do not have appropriate permissions to create Initiative projects. Please create a Draft project.
    </p>
</div>