@{
    ViewData["Title"] = "Access Denied";
}

<div class="container">
    <h2 class="text-danger">Creating projects is temporarily unavailable.</h2>

    <p>
        The Function "сreating project" will be available for lykke community members very soon.
        Thank you for your patience.
    </p>
</div>