@{
    ViewData["Title"] = "Access Denied";
}

<div class="container">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">Creating projects temporarily unavailable.</h2>

    <p>
        The Function "сreating project" will be available for Lykke Citizens very soon .
        Thank you for your patience.
    </p>
</div>