@{
    ViewData["Title"] = "Access Denied";
}
<br>
<br>
<br>
<div class="container">
    <h2 class="text-danger">Creating projects is unavailable.</h2>

    <p>
        The Function "сreating project" is only available for lykke community members with an approved KYC Status.
    </p>
</div>