@{
    ViewData["Title"] = "Profile Not Found";
}

<br />
<br />
<div class="container">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">Profile not found.</h2>

    <p>
        User with this id was not found.
    </p>
</div>