.prize {
  font-family: $ff;

  @include rem(margin-bottom, 5px);

  &__value {
    color: $secondary;
    font-weight: $fw-thin;

    @include rem(font-size, 40px);
  }

  &__title {
    text-transform: uppercase;
    color: $text;
    letter-spacing: 0.13em;
    line-height: 32px;
    font-weight: $fw-semi;

    @include rem(font-size, 18px);
    @include rem(line-height, 20px);
    @include rem(margin-top, 13px);

    sup {
      font-size: 60%;

      @include rem(margin-right, 6px);
    }
  }

  @media (max-width: $screen-mobile) {
    text-align: center;

    @include rem(margin-bottom, 20px);
  }
}

.page {
  .page__title {
    @include rem(margin, 30px 0 10px !important)
  }

  h2 {
    @include rem(margin-bottom, 30px);
  }

  .page__header {
    overflow: hidden;

    h1, h2, h3 {
      margin-bottom: 0;
    }

    .card__actions:not(.visible-xs) {
      @include rem(margin-right, 28px);

      .action_link {
        @include rem(margin-left, 18px);
      }
    }
  }

  @media all and (max-width: $screen-mobile) {
    .section--lead {
      position: relative;
    }

    .new-project-button {
      position: absolute;
      top: 30px;
      margin-top: 0 !important;
      right: 15px;
    }

    .page__header {
      .sticky_header {
        @include rem(padding-top, 15px);
      }

      .card__actions:not(.visible-xs) {
        float: none !important;
        overflow: hidden;
        text-align: left;

        @include rem(padding, 10px 20px 4px 0);

        .action_link {
          @include rem(margin-right, 10px);
          @include rem(margin-left, 0px);
        }
      }
    }
  }

  @media all and (max-width: $screen-tablet) {
    h2 + .btn-circle, .page__header + .btn-circle {
      @include rem(margin-top, -80px);
    }

    .page__header {
      @include rem(padding-right, 70px);
    }
  }

  @media all and (max-width: $screen-landscape) {
    .tabs_stack {
      float: none !important;
      clear: both;

      @include rem(margin-top, 70px);
      @include clearfix;
    }
  }

  &--competition_create {
    .form__submit .btn {
      @include rem(min-width, 200px);
    }

    .page__header {
      margin-bottom: 0;
      padding-right: 0 !important;
    }

    .sticky_header {
      @include rem(padding-bottom, 15px);
      border-bottom: 1px solid #eaedef;
      background: #fff;
    }

    .section--competition_form {
      @include rem(padding-top, 10px);
    }

    .asset_link_list, .whatever_list {
      margin-top: 0;

      @include rem(margin-bottom, 20px)
    }
  }

  &--competition_edit {
    .section--lead {
      padding-bottom: 10px !important;
    }

    @media (min-width: 768px) {
      &.page .section--padding {
        padding: 50px 0;
      }
    }
  }

  &--competition_platform {
    .page__header {
      .page__subtitle {
        text-align: left;
        color: #8C94A0;

        @include rem(font-size, 22px);
        @include rem(margin-top, 13px);
      }

      .label {
        @include rem(margin-left, 18px);
      }

      .btn_edit {
        @include rem(margin-top, 4px);
        @include rem(min-width, 120px);
      }
    }

    @media (max-width: $screen-tablet) {
      .page__header {
        position: relative;

        .col-sm-4 {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0;
        }

        .btn_edit {
          min-width: 0;
        }
      }
    }
  }
}

.section {
  &--competition_list {
    .row {
      font-size: 0;

      > div {
        display: inline-block;
        vertical-align: top;
        float: none;
      }
    }
  }

  &--competition_form {
    .container {
    width: 805px;
    }
  }
}

.card--preview {
  @include rem(font-size, 18px);
}

.action_follow {
  @include transition(color .2s ease);

  span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
    position: relative;
    top: -1px;
  }

  .icon {
    @include rem(margin-right, 4px);
  }

  &.active {
    color: $secondary;

    span {
      font-size: 0;
      color: transparent;

      &:before {
        content: 'Unfollow';
        color: $secondary;

        @include rem(font-size, 16px);
      }
    }

    .icon {
      color: $blue;

      &:before {
        content: "\e934";
      }
    }
  }
}

.project_links {
  border-bottom: 1px $border-alt solid;

  @include rem(padding, 5px 0 20px);
  @include rem(margin-bottom, 34px);

  &__actions {
    padding-left: 0;
  }

  .card__actions {
    padding: 0;

    .action_link {
      @include rem(padding, 4px 9px);
      @include rem(margin-right, 10px);

      .icon {
        @include rem(font-size, 19px);
        @include rem(margin-right, 9px);

        &--link {
          @include rem(font-size, 16px);
        }

        &--envelope {
          position: relative;

          @include rem(font-size, 18px);
          @include rem(top, -2px);
          @include rem(margin-left, -5px);
        }

        &--follow, &--finance {
          @include rem(font-size, 16px);
        }
      }
    }
  }
}

.btn_participate {
  @include rem(max-width, 298px);
  @include rem(padding, 14px 18px 12px);
  @include rem(margin-bottom, 10px);

  .icon {
    position: relative;

    @include rem(font-size, 23px);
    @include rem(margin-right, 3px);
    @include rem(left, -12px);
  }
}

.content {
  &__right {
    .user_badge {
      @include rem(margin-top, 11px);
      @include rem(margin-bottom, 25px);
      @include rem(min-height, 90px);
    }
  }
}

._max_width {
  width: 80% !important;
}


.circle_voting_btn {
  color: $primary;
  border: 2px solid $primary;
  border-radius: 100px;
  background: #fff;
  text-align: center;
  font-weight: $fw-semi;

  @include rem(width, 30px);
  @include rem(height, 30px);
  @include transition(all .2s ease);

  &.active, &:hover {
    background: $primary;
    color: #fff;
  }
}

.btn-plus {
  min-width: 0;
  color: #fff !important;
  background: #ab00ff;

  @include rem(width, 30px);
  @include rem(height, 30px);
  @include rem(font-size, 34px);
  @include rem(line-height, 20px);
  @include rem(padding, 6px);
}

@media (max-width: 991px) {
  .navbar-collapse .nav > li.active a.btn {
    color: #fff !important;
  }
}

@media (max-width: $screen-landscape) {
  .project_links {
    padding-left: 15px;
    padding-right: 15px;

    &__share + &__actions {
      @include rem(margin-top, 20px)
    }

    &__share {
      padding: 0;
    }

    .card__actions {
      text-align: left !important;
    }
  }

  .content__right {
    padding-top: 30px;
    border-top: 1px solid $border-alt;
  }

  .page .nav-tabs {
    @include rem(margin-bottom, 20px !important);
  }

  .small_desc {
    @include rem(margin-top, 30px);
  }
}

@media (max-width: $screen-mobile) {
  .progress {
    @include rem(margin, 20px 0);

    .row {
      font-size: 0;

      > .col-xs-6 {
        float: none;
        display: inline-block;
        vertical-align: middle;
      }
    }

    &__info {
      @include rem(font-size, 18px);
    }
  }

  .card__actions .action_link {
    margin-bottom: 6px;
  }

  .project_links {
    @include rem(padding, 0 0 10px);
  }

  .prize_row {
     > div {
      width: 50%;
    }
  }

  .content__right .user_badge {
    min-height: 0;
  }

  .btn_participate {
    width: 100%;
    max-width: 100%;
  }
}

.btn_feedback {
  position: fixed;
  z-index:100;
  bottom: 0;
  right: 0;

  @include rem(margin, 8px);
  @include transition(all .2s ease);

  svg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;

    @include rem(width, 18px);
    @include rem(margin-right, 4px);
  }
}

._copy_link {
  @include transition(color .2s ease);
}

.card__actions .action_link img {
  @include rem(width, 20px);
}

.status_icon {
  text-align: center;
  line-height: 60px;
  @include rem(line-height, 62px);

  &--error {
    img {
      @include rem(width, 72px)
    }
  }
}

.header__title {
  top: 3px;
}


.sticky_header {
  width: 100%;
  z-index:21;

  @include transition(padding .2s ease);

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  &.affix {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    @include rem(padding-top, 15px);

    .container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.resource_name {
  color: $secondary;

  @include rem(line-height, 29px);

  .icon {
    @include rem(font-size, 24px);
    color: $secondary;
  }
}

.form_fieldset--fund {
  span.text-muted {
    display: block;

    @include rem(margin, 3px 0)
  }

  @media all and (max-width: $screen-mobile-old) {
    .form-group {
      @include rem(margin-bottom, 40px)
    }
  }
}

.whatever_list {
  .row {
    .whatever_list__action {
      @include rem(margin-top, 7px)
    }
  }
}

.action_group {
  display: inline-block;
  vertical-align: middle;
}

@media all and (max-width: $screen-mobile) {
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    @include rem(padding-left, 15px);
    @include rem(padding-right, 15px);
  }

  .row {
    @include rem(margin-left, -15px);
    @include rem(margin-right, -15px);
  }
}

.table {
  &--board {
    color: $secondary;
    letter-spacing: 0;
    white-space: nowrap;

    @include rem(font-size, 18px);
    @include rem(line-height, 51px);

    tr {
      &:hover td {
        background: transparent;
      }

      td {
        cursor: auto;

        @include rem(padding, 9px 20px);

        &:first-child {
          padding-right: 0;
        }

        &.board_action {
          text-align: center;
        }
      }

      td, th {
        line-height: normal;

        &:first-child {
          @include rem(width, 240px);
        }

        &:last-child {
          a {
            @include rem(font-size, 16px)
          }
        }

        &.text-center {
          text-align: center;
        }
      }
    }
  }

  &--board_results {
    .board_winner {
      .prize__value {
        @include rem(font-size, 28px);
      }

      .user_badge--small .user_badge__img {
        margin-left: 0;

        @include rem(width, 80px);
        @include rem(height, 80px);
        @include rem(margin-right, 30px);
      }

      .user_badge__title {
        color: $text;
        letter-spacing: 1.79px;
        font-weight: $fw-semi;
        text-transform: uppercase;

        @include rem(font-size, 18px);
        @include rem(line-height, 32px);
      }
    }

    .user_badge--small .user_badge__img {
      @include rem(width, 60px);
      @include rem(height, 60px);
      @include rem(margin, 0 37px 0 14px);
    }

    .user_badge__title {
      text-transform: none;
      font-weight: normal;
      letter-spacing: normal;
      color: $secondary;
      line-height: normal;

      @include rem(margin-bottom, 10px);
    }

    .board_place {
      @include rem(width, 80px);

      .icon {
        @include rem(font-size, 46px);
      }

      .icon--prize2 {
        color: rgba($secondary, .35);
      }
    }

    .board_name {
      @include rem(width, 450px);
    }

    .board_sum {
      text-align: right;
    }

    .prize__value {
      @include rem(font-size, 24px);
    }

    tr {
      td {
        @include rem(padding-top, 20px);
        @include rem(padding-bottom, 20px);

        &:first-child {
          vertical-align: top;

          @include rem(width, 80px);
          @include rem(padding-top, 30px);
        }
      }
    }
  }
}

.tab-pane {
  .text {
    * {
      font-family: $ff !important;
    }

    .control-label {
      @include rem(font-size, 18px !important);
    }

    a {
      background: transparent !important;
    }

    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      font-weight: $fw-semi;
    }

    h5, .h5 {
      line-height: 1.67 !important;

      @include rem(font-size, 18px !important);
    }

    h3, .h3 {
      line-height: 1.43 !important;

      @include rem(font-size, 28px !important);
      @include rem(margin-bottom, 18px !important);
    }

    h2, .h2 {
      line-height: 1.25 !important;

      @include rem(font-size, 40px !important);
    }

    h1, .h1 {
      line-height: 1.2 !important;

      @include rem(font-size, 50px !important);
      @include rem(margin-bottom, 20px !important);
    }

    p, ul, ol, li {
      font-weight: normal !important;
      font-style: normal !important;
      font-stretch: normal !important;
      line-height: 1.67 !important;
      color: $secondary !important;

      @include rem(font-size, 18px !important);
      @include rem(margin-bottom, 15px !important);
      @include rem(margin-top, 0 !important);
    }

    ul li:before {
      line-height: normal;
    }
  }
}
