.header__logo img {
  @include rem(height, 36px);
}

.tab-pane {
  .text {
    * {
      font-family: $ff !important;
    }

    .control-label {
      @include rem(font-size, 16px !important);
    }

    .form-group {
      @include rem(font-size, 30px !important);
    }

    a {
      background: transparent !important;
    }

    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      font-weight: $fw-semi;
    }

    h5, .h5 {
      line-height: 1.67 !important;

      @include rem(font-size, 18px !important);
    }

    h3, .h3 {
      line-height: 1.43 !important;

      @include rem(font-size, 28px !important);
      @include rem(margin-bottom, 18px !important);
    }

    h2, .h2 {
      line-height: 1.25 !important;

      @include rem(font-size, 40px !important);
    }

    h1, .h1 {
      line-height: 1.2 !important;

      @include rem(font-size, 50px !important);
      @include rem(margin-bottom, 20px !important);
    }

    p, ul, ol, li {
      font-weight: normal !important;
      font-style: normal !important;
      font-stretch: normal !important;
      line-height: 1.67 !important;
      color: $secondary !important;

      @include rem(font-size, 18px !important);
      @include rem(margin-bottom, 15px !important);
      @include rem(margin-top, 0 !important);
    }

    ul li:before {
      line-height: normal;
    }
  }
}

.prize {
  font-family: $ff;

  @include rem(margin-bottom, 5px);

  &__value {
    color: $secondary;
    font-weight: $fw-thin;

    @include rem(font-size, 40px);
  }

  &__title {
    text-transform: uppercase;
    color: $text;
    letter-spacing: 0.13em;
    line-height: 32px;
    font-weight: $fw-semi;

    @include rem(font-size, 18px);
    @include rem(line-height, 20px);
    @include rem(margin-top, 13px);

    sup {
      font-size: 60%;

      @include rem(margin-right, 4px);
    }
  }

  @media (max-width: $screen-mobile) {
    text-align: center;

    @include rem(margin-bottom, 20px);

    &__value {
      font-size: 36px;
      line-height: 50px;
    }

    &__title {
      margin-top: 2px;
    }
  }
}

.page {
  .page__title {
    @include rem(margin, 30px 0 10px !important)
  }

  h2 {
    @include rem(margin-bottom, 30px);
  }

  .page__header {
    overflow: hidden;

    h1, h2, h3 {
      margin-bottom: 0;
    }

    .card__actions:not(.visible-xs) {
      @include rem(margin-right, 28px);

      .action_link {
        @include rem(margin-left, 18px);
      }
    }
  }

  @media all and (max-width: $screen-mobile) {
    .section--lead {
      position: relative;
    }

    .new-project-button {
      position: absolute;
      top: 30px;
      margin-top: 0 !important;
      right: 15px;
    }

    .page__header {
      .sticky_header {
        @include rem(padding-top, 15px);
      }

      .card__actions:not(.visible-xs) {
        float: none !important;
        overflow: hidden;
        text-align: left;

        @include rem(padding, 10px 20px 4px 0);

        .action_link {
          @include rem(margin-right, 10px);
          @include rem(margin-left, 0px);
        }
      }
    }
  }

  @media all and (max-width: $screen-tablet) {
    h2 + .btn-circle, .page__header + .btn-circle {
      @include rem(margin-top, -80px);
    }

    .page__header {
      @include rem(padding-right, 70px);
    }
  }

  @media all and (max-width: $screen-landscape) {
    .tabs_stack {
      float: none !important;
      clear: both;

      @include rem(margin-top, 70px);
      @include clearfix;
    }
  }

  &--competition_create {
    .form__submit .btn {
      @include rem(min-width, 200px);
    }

    .page__header {
      margin-bottom: 0;
      padding-right: 0 !important;
    }

    .sticky_header {
      @include rem(padding-bottom, 15px);
      border-bottom: 1px solid #eaedef;
      background: #fff;
    }

    .section--competition_form {
      @include rem(padding-top, 10px);
    }

    .asset_link_list, .whatever_list {
      margin-top: 0;

      @include rem(margin-bottom, 20px)
    }
  }

  &--competition_edit {
    .section--lead {
      padding-bottom: 10px !important;
    }

    @media (min-width: 768px) {
      &.page .section--padding {
        padding: 50px 0;
      }
    }
  }

  &--competition_platform {
    .page__header {
      .page__subtitle {
        text-align: left;
        color: #8C94A0;

        @include rem(font-size, 22px);
        @include rem(margin-top, 13px);
      }

      .label {
        @include rem(margin-left, 18px);
      }

      .btn_edit {
        @include rem(margin-top, 4px);
        @include rem(min-width, 120px);
      }
    }

    @media (max-width: $screen-tablet) {
      .page__header {
        position: relative;

        .col-sm-4 {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0;
        }

        .btn_edit {
          min-width: 0;
        }
      }
    }
  }
}

.section {
  &--competition_list {
    .row {
      font-size: 0;

      > div {
        display: inline-block;
        vertical-align: top;
        float: none;
      }
    }
  }

  &--competition_form {
    .container {
    width: 805px;
    }
  }
}

.card--preview {
  @include rem(font-size, 18px);
}

.action_follow {
  @include transition(color .2s ease);

  span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
    position: relative;
    top: -1px;
  }

  .icon {
    @include rem(margin-right, 4px);
  }

  &.active {
    color: $secondary;

    span {
      font-size: 0;
      color: transparent;

      &:before {
        content: 'Unfollow';
        color: $secondary;

        @include rem(font-size, 16px);
      }
    }

    .icon {
      color: $blue;

      &:before {
        content: "\e934";
      }
    }
  }
}

.project_links {
  border-bottom: 1px $border-alt solid;

  @include rem(padding, 5px 0 20px);
  @include rem(margin-bottom, 34px);

  &__actions {
    padding-left: 0;
  }

  .card__actions {
    padding: 0;

    .action_link, .action_text {
      @include rem(padding, 4px 9px);
      @include rem(margin-right, 10px);

      .icon {
        @include rem(font-size, 19px);
        @include rem(margin-right, 9px);

        &--link {
          @include rem(font-size, 16px);
        }

        &--envelope {
          position: relative;

          @include rem(font-size, 18px);
          @include rem(top, -2px);
          @include rem(margin-left, -5px);
        }

        &--follow, &--finance {
          @include rem(font-size, 16px);
        }
      }
    }
  }
}

.btn_participate {
  @include rem(max-width, 298px);
  @include rem(padding, 14px 18px 12px);
  @include rem(margin-bottom, 10px);

  .icon {
    position: relative;

    @include rem(font-size, 23px);
    @include rem(margin-right, 3px);
    @include rem(left, -12px);
  }
}

.content {
  &__right {
    .user_badge {
      @include rem(margin-top, 11px);
      @include rem(margin-bottom, 25px);
      @include rem(min-height, 90px);
    }
  }
}

._max_width {
  width: 80% !important;
}

.circle_voting_btn {
  color: $primary;
  border: 2px solid $primary;
  border-radius: 100px;
  background: #fff;
  text-align: center;
  line-height: normal;
  font-weight: $fw-semi;
  position: relative;

  @include rem(font-size, 16px);
  @include rem(width, 32px);
  @include rem(height, 32px);
  @include transition(all .2s ease);

  &.active, &:hover {
    background: $primary;
    color: #fff;
  }

  &.active {
    &:active {
      @include transform(scale(.9));
    }

    &:after {
      @include animation(scale .5s);
    }
  }

  &:after {
    content: '';
    pointer-events: none;
    background: rgba($primary, .4);
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 100px;
    z-index: -1;
    opacity: 0;

    @include rem(width, 32px);
    @include rem(height, 32px);
  }

  .visible-small {
    display: none!important;
  }

  @media all and (max-width: $screen-tablet) {
    white-space: nowrap;
    width: 80px;
    height: 28px;
    padding-top: 4px;
    font-size: 13px;

    .visible-small {
      position: relative;
      display: inline-block !important;
      vertical-align: middle;
      width: 27px;
      overflow: hidden;

      @include transition(width .1s ease, margin .1s ease);
    }

    &.active {
      width: 28px;

      .visible-small {
        width: 0;
        margin: 0;
      }
    }
  }
}

.btn-plus {
  min-width: 0;
  color: #fff !important;
  background: #ab00ff;

  @include rem(width, 30px);
  @include rem(height, 30px);
  @include rem(font-size, 34px);
  @include rem(line-height, 20px);
  @include rem(padding, 6px);
}

@media (max-width: 991px) {
  .navbar-collapse .nav > li.active a.btn {
    color: #fff !important;
  }
}

@media (max-width: $screen-landscape) {
  .project_links {
    &__share {
      white-space: nowrap;
    }
    &__actions {

    }
  }

  .small_desc {
    font-size: 13px;

    @include rem(margin-top, 30px);
  }
}

@media (max-width: $screen-mobile) {
  .project_links {
  }

  .progress {
    @include rem(margin, 20px 0);

    .row {
      font-size: 0;

      > .col-xs-6 {
        float: none;
        display: inline-block;
        vertical-align: middle;
      }
    }

    &__content {
      padding: 5px 10px 4px;
    }

    &__info {
      padding-top: 0;

      @include rem(font-size, 18px);
    }
  }

  .project_links {
    padding-bottom: 18px;

    .card__actions {
      .action_link,
      .action_text {
        margin-right: 6px !important;

        .icon {
          font-size: 20px;
        }
      }

      .action_link.action_follow {
        margin-right: 0 !important;

        .icon {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  .prize {
    text-align: left;
  }

  .prize_row {
     > div {
       width: 50%;
       padding-right: 0;
    }
  }

  .btn_participate {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: $screen-landscape) {
  .content__right .user_badge {
    min-height: 0;
    margin-top: 0;
    margin-bottom: 9px;

    &__img {
      width: 40px;
      height: 40px;
      margin-right: 8px;
    }
  }

  .btn_participate {
    padding-top: 10px;
    padding-bottom: 9px;
  }

  .project_links .card__actions {
    .action_link, .action_text {
      margin-right: 3px !important;

      .icon {
        margin-right: 0 !important;
      }
    }
  }
}

.btn_feedback {
  position: fixed;
  z-index:100;
  bottom: 0;
  right: 0;

  @include rem(margin, 8px);
  @include transition(all .2s ease);

  svg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;

    @include rem(width, 18px);
    @include rem(margin-right, 4px);
  }

  @media all and (max-width: $screen-mobile) {
    overflow: hidden;
    font-size: 0;
    letter-spacing: -1000px;
    padding-left: 10px;
    padding-right: 10px;

    svg {
      margin-right: 0;
    }
  }
}

._copy_link {
  @include transition(color .2s ease);
}

.card__actions .action_link img {
  @include rem(width, 20px);
}

.status_icon {
  text-align: center;
  line-height: 60px;
  @include rem(line-height, 62px);

  &--error {
    img {
      @include rem(width, 72px)
    }
  }
}

.header__title {
  top: 3px;
}

.sticky_header {
  width: 100%;
  z-index:21;

  @include transition(padding .2s ease);

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  &.affix {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    @include rem(padding-top, 15px);

    .container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.resource_name {
  color: $secondary;

  @include rem(line-height, 29px);

  .icon {
    @include rem(font-size, 24px);
    color: $secondary;
  }
}

.form_fieldset {
  &__heading {
    @include clearfix;

    .switcher {
      position: relative;
      top: -2px;
      margin-left: 8px;
    }

    .fileupload {
      margin-top: -5px;
      margin-bottom: 5px;
    }

    h3 {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &--fund {
    span.text-muted {
      display: block;

      @include rem(margin, 3px 0)
    }

    @media all and (max-width: $screen-mobile-old) {
      .form-group {
        @include rem(margin-bottom, 40px)
      }
    }
  }

  h3.small {
    @include rem(margin-bottom, 5px);
    @include rem(font-size, 21px);
    @include rem(line-height, 30px);
  }

  .control-label {
    color: rgba($secondary, .6);
    letter-spacing: 0;

    @include rem(font-size, 16px);
    @include rem(line-height, 24px);
    @include rem(margin-bottom, 18px)
  }
}

.whatever_list {
  .row {
    .whatever_list__action {
      @include rem(margin-top, 7px)
    }
  }
}

.action_group {
  display: inline-block;
  vertical-align: middle;
}

.visible-xxs {
  display: none;
}

@media all and (max-width: $screen-mobile) {
  .hidden-xxs {
    display: none;
  }

  .visible-xxs {
    display: block;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    @include rem(padding-left, 15px);
    @include rem(padding-right, 15px);
  }

  .row {
    @include rem(margin-left, -15px);
    @include rem(margin-right, -15px);
  }

  .content__right {
    padding-top: 4px;

    .row > div {
      width: 100%;
    }
  }
}

.table {
  &--board {
    color: $secondary;
    letter-spacing: 0;
    white-space: nowrap;

    @include rem(font-size, 18px);
    @include rem(line-height, 51px);

    tr {
      &:hover td {
        background: transparent;
      }

      td {
        cursor: auto;

        @include rem(padding, 9px 20px);

        &:first-child {
          padding-right: 0;
        }

        &.board_action {
          text-align: center;
        }
      }

      th {
        .btn--icon {
          padding: 0;
          margin-left: 4px;
          margin-top: -2px;
          margin-bottom: -2px;
        }
      }

      td, th {
        line-height: normal;

        &:first-child {
          @include rem(width, 240px);
        }

        &:last-child {
          a {
            @include rem(font-size, 16px)
          }
        }

        &.text-center {
          text-align: center;
        }
      }
    }
  }

  &--board_results {
    .user_badge--small {
      .user_badge__img {
        @include rem(width, 60px);
        @include rem(height, 60px);
        @include rem(margin, 0 20px 0 0);
      }

      .user_badge__title {
        text-transform: none;
        color: $text;
        line-height: normal;

        @include rem(margin-bottom, 3px);
      }

      .user_badge__desc {
        color: rgba($secondary, .8);
      }

      .user_badge__info {
        @include rem(padding-top, 10px);
      }
    }

    .board_place {
      @include rem(width, 80px);

      .icon {
        @include rem(font-size, 46px);
      }

      .icon--prize2 {
        color: rgba($secondary, .35);
      }
    }

    .board_name {
      @include rem(width, 450px);
    }

    .board_sum {
      text-align: right;
    }

    .prize__value {
      font-weight: $fw-light;

      @include rem(font-size, 28px);
    }

    tr {
      td {
        @include rem(padding-top, 20px);
        @include rem(padding-bottom, 20px);

        &:first-child {
          vertical-align: top;

          @include rem(width, 55px);
          @include rem(padding-top, 30px);
        }
      }
    }

    @media all and (max-width: $screen-mobile-tiny) {

      tr td {
        padding: 5px 10px;

        &:first-child {
          padding-top: 10px;
        }
      }

      .user_badge--small .user_badge__img {
        display: none;
      }

      .prize__value {
        font-size: 14px;
      }
    }
  }
}

.table-container {
  @include rem(margin-bottom, 40px);
}

.table {
  @media all and (max-width: 1090px) {
    &--board_results {
      .user_badge--small .user_badge__img {
        @include rem(width, 40px !important);
        @include rem(margin, 0 15px 0 0 !important);
      }
    }
  }

  @media all and (max-width: $screen-tablet) {
    &--board:not(.table--board_results):not(.table--participants) {
      tr, td {
        display: block;
      }
      
      tr {
        position: relative;
        border: 0;
        margin-bottom: 15px;

        td {
          padding: 6px 0 6px 49px;
          border: 0;
        }
      }

      .board_mobile {
        text-align: left;
        line-height: 22px;
        letter-spacing: normal;
        color: #3f4d60;

        &__title {
          font-size: 16px;
          line-height: 22px;
          color: #333333;
          font-weight: $fw-semi;
        }

        .btn--icon {
          margin: -8px 0;
        }
      }

      .user_badge--small {
        .user_badge__info,
        .user_badge__message {
          padding-top: 0;
        }

        .user_badge__img {
          width: 36px;
          height: 36px;
          margin-right: 13px;
          position: relative;
          overflow: visible;

          &:after {
            content: '';
            position: absolute;
            top: 100%;
            margin-top: 4px;
            height: 20px;
            background: #fff;
            width: 49px;
            left: 0;
          }
        }
      }

      .board_action {
        border: 0;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 0;
      }

      .board_name {
        font-weight: 600;
        font-style: normal;
        line-height: 2.31;
        letter-spacing: normal;
        color: #333333;
        padding-left: 0;
        padding-right: 90px;
        width: 100%;
        border-bottom: solid 1px #ebedef;
        margin-bottom: 8px;
      }
    }
  }

  @media all and (max-width: $screen-landscape) {
    &--board:not(.table--board_results):not(.table--participants) {

      .board_mobile {
        font-size: 13px;
        line-height: 18px;

        &__title {
          font-size: 10px;
          line-height: 18px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }

        .board_name {
          font-size: 13px;
        }
      }
    }
  }

  @media all and (max-width: $screen-mobile-tiny) {
    &--board:not(.table--board_results):not(.table--participants) {
      .user_badge--small {
        .user_badge__info,
        .user_badge__message {
          padding-top: 2px;
        }
      }
    }
  }

  @media all and (max-width: 330px) {
    &--board:not(.table--board_results):not(.table--participants) {
      .user_badge--small {
        .user_badge__img {
          display: none;
        }
      }

      tr {
        td {
          padding-left: 0;
        }
      }
    }
  }
}

.banner {
  &--results {
    background: #fff;
    border-top: 1px solid #ebedef;
    border-bottom: 1px solid #ebedef;

    @include rem(padding, 30px 0);
    @include rem(margin-bottom, 60px);

    p:last-of-type, h4 {
      margin-bottom: 0;
    }

    img {
      @include rem(margin-right, 26px);

      &.pull-right {
        @include rem(margin-right, 0);
        @include rem(margin-left, 20px);
      }
    }

    h4 {
      text-transform: none;
      letter-spacing: 0;

      @include rem(font-size, 21px);
    }

    p {
      line-height: 1.67;

      @include rem(font-size, 18px);
    }
    
    .banner__content {
      overflow: hidden;
    }

    .table-responsive {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .prize__value {
      line-height: 1.25;
      color: $secondary;
      font-weight: $fw-thin;

      @include rem(font-size, 40px);
      @include rem(margin-bottom, 16px);
    }

    .table {
      margin-bottom: 0;
      padding-bottom: 0;
      color: rgba($secondary, .8);
      table-layout: fixed;

      @include rem(font-size, 16px);

      tr {
        &:hover td {
          background: transparent;
        }

        td {
          border-top: 0;
          border-bottom: 0;
          text-align: center;
          cursor: auto;

          @include rem(padding, 0 5px);

          span {
            display: block;

            @include rem(margin-bottom, 5px);
          }
        }
      }
    }

    @media all and (max-width: $screen-tablet) {
      .table {
        table-layout: auto;
      }
    }

    @media all and (max-width: $screen-landscape) {

      .table {
        display: block;

        tr, tbody {
          display: block;
        }

        tr {
          font-size: 0;
          text-align: center;

          td {
            display: inline-block;
            vertical-align: top;
            width: percentage(1/3);
            white-space: normal;

            @include rem(font-size, 16px);
            @include rem(margin-bottom, 10px);
          }
        }
      }
    }
  }
}

.content__left .tab-content {
  @media all and (min-width: $screen-landscape + 1) {
    @include rem(min-height, 700px)
  }
}

.winner_place {
  position: relative;
  font-weight: $fw-semi;
  line-height: 1.67;
  letter-spacing: -0.3px;
  text-align: center;
  color: $gray-light;
  z-index:2;
  display: inline-block;
  vertical-align: top;

  @include rem(line-height, 40px);
  @include rem(width, 34px);
  @include rem(font-size, 18px);

  &:before {
    font-family: 'icon' !important;
    content: "\e944";
    color: $gray-light;
    position: absolute;
    left: 0;
    top: 0;
    z-index:0;

    @include rem(font-size, 40px);
    @include rem(line-height, 40px);
  }

  span {
    position: relative;
    z-index:4;
  }

  &--first {
    color: $white;

    &:before {
      content: "\e945";
      color: $yellow;
    }
  }
}

.nav_scroll {
  overflow: hidden;
  border-bottom: 1px solid #e1e1e1;

  @include rem(height, 50px);
  @include rem(margin-bottom, 44px);

  .nav-tabs {
    margin-bottom: 0 !important;
    font-size: 0;
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 20px;
    border-bottom: 0;
    width: auto;
    display: block;
    white-space: nowrap;


    > li {
      float: none;
      display: inline-block;
      vertical-align: top;
    }
  }

  @media (max-width: $screen-landscape) {
    margin-left: -30px;
    margin-right: -30px;

    .nav-tabs {
      padding-left: 14px !important;
      padding-right: 30px !important;
    }
  }

  @media (max-width: $screen-mobile) {
    margin-left: -15px;
    margin-right: -15px;

    .nav-tabs {
      padding-left: 10px !important;
      padding-right: 15px !important;
    }
  }
}

.board_action {
  .dropdown-menu:not(.bootstrap-datetimepicker-widget) {
    @include rem(margin-left, -60px);
    @include rem(width, 120px);
  }
}

@media all and (max-width: $screen-mobile-old) {
  .page .section--lead {
    padding-top: 30px;
  }

  h2, .h2 {
    font-size: 26px;
    line-height: 36px;
  }
}

@include keyframes(scale) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;

    @include transform(scale(2.7));
  }
}

.form {
  &--share_result {
    border-bottom: 1px solid $border-alt;

    @include rem(margin-bottom, 50px);

    .form_fieldset {
      @include rem(margin-bottom, 37px);
    }

    .form-control {
      text-align: left;
      background: #fff;
      border: 1px solid #D3D6DB;

      @include rem(border-radius, 4px);
      @include rem(padding-left, 20px);
      @include rem(padding-right, 20px);

      &[disabled] {
        background: #F4F4F4;
      }
    }

    .message_actions {
      .btn:not(.btn--flat) {
        @include rem(min-width, 177px);
      }
    }

    .asset_link_list {
      margin: 0;

      .asset_link:first-child {
        border-top: 1px solid $border-alt;
      }
    }

    .form-control {
      border-color: #cfd2d7;
    }
  }

  @media all and (max-width: $screen-mobile-tiny) {
    &--share_result {
      .message_actions {
        margin-top: 10px;

        .text-right {
          text-align: left !important;
          font-size: 0;
        }

        .btn {
          margin-top: 10px;
          width: 50%;
          min-width: 0 !important;
        }
      }
    }
  }
}

.checkbox {
  &--custom {
    overflow: hidden;

    input[type="checkbox"] {
      position: absolute;
      left: -100px;
      top: -100px;
      opacity: 0;
      visibility: hidden;

      &:checked {
        + .control-label {
          &:after {
            background: $primary;
            border-color: $primary;
          }
        }
      }
    }

    .control-label {
      position: relative;
      margin-bottom: 0;

      @include rem(padding-left, 32px);

      &:after {
        font-family: icon;
        content: "\e90b";
        background: #fff;
        border: 1px solid #cfd2d7;
        position: absolute;
        left: 0;
        top: 2px;
        border-radius: $border-radius;
        color: #fff;
        text-align: center;

        @include rem(font-size, 14px);
        @include rem(line-height, 18px);
        @include rem(width, 20px);
        @include rem(height, 20px);
        @include transition(all $transition-default);
      }
    }
  }
}

.mb40 {
  margin-bottom: 40px !important;
}

.icon--rename_icn:before {
  font-size: 85%;
}

.asset_link {
  &__action {
    .btn + .btn {
      @include rem(margin-left, 15px)
    }
  }

  &__title {
    @include rem(margin-right, 8px)
  }

  &__title + &__desc {
    @include rem(margin-left, 0)
  }
}

.modal {
  &--rename_asset {
    .modal__dialog {
      @include rem(width, 570px);

      max-width: 100%;
    }

    .modal__body {
      @include rem(padding-bottom, 10px);
    }

    h3 {
      @include rem(margin-bottom, 5px);
    }

    .text p {
      @include rem(margin-bottom, 15px);
    }

    .modal__footer {
      text-align: right;

      .btn {
        vertical-align: middle;

        @include rem(min-width, 120px);

        &--flat {
          margin-bottom: 0;
        }
      }
    }
  }
}

._show_hidden_form {
  @include rem(margin-bottom, 50px);
}

.hint {
  color: rgba($secondary, .6);
  letter-spacing: 0;

  @include rem(font-size, 16px);
  @include rem(line-height, 24px);
}

.share_result_intro {
  @include rem(margin-bottom, 50px);

  &__button {
    float: left;

    @include rem(margin-right, 30px);
  }

  &__hint {
    overflow: hidden;
  }

  @media all and (max-width: $screen-mobile-tiny) {
    &__button {
      float: none;
      margin-right: 0;

      .btn {
        width: 100%;
      }

      @include rem(margin-bottom, 20px);
    }
  }
}

.modal_valign {
  table-layout: fixed;
}

.modal .close {
  z-index: 110;
}

.winners_item {
  text-align: center;

  @include rem(margin-bottom, 60px);

  .rating_item {
    color: $yellow;
  }

  .prize__value {
    line-height: 1.79;
    font-weight: $fw-light;

    @include rem(font-size, 28px);
  }

  &__title {
    color: #333;
    letter-spacing: 0;
    font-weight: $fw-semi;

    @include rem(font-size, 18px);
    @include rem(line-height, 30px);
    @include rem(margin-bottom, 4px);

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $secondary;
      }
    }
  }

  &__label {
    color: #fff;
    letter-spacing: 0;
    font-weight: $fw-semi;
    margin: -4px 0 0;
    background-color: #b2b8bf;
    border-radius: 100px;
    display: inline-block;
    vertical-align: top;
    text-align: center;

    @include rem(width, 24px);
    @include rem(height, 24px);
    @include rem(line-height, 24px);
    @include rem(font-size, 16px);
    @include rem(margin, -12px 0 0);
  }

  &__user {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index:-1;
      background: url(../img/competition/two-branches.svg) no-repeat center;

      @include rem(width, 123px);
      @include rem(height, 58px);
      @include rem(top, 7px);
      @include background-size(cover);
    }
  }

  &__img {
    display: block;
    margin: 0 auto;

    @include rem(width, 60px);
    @include rem(height, 60px);

    img {
      border-radius: 100px;

      @include rem(width, 60px);
      @include rem(height, 60px);
    }
  }

  &__desc {
    color: rgba($secondary, .8);
    letter-spacing: 0;

    @include rem(font-size, 16px);
    @include rem(line-height, 24px);
  }

  &--first {
    .winners_item__label {
      background-color: $yellow;
    }

    .winners_item__user:after {
      background: url(../img/competition/two-branches-gold.svg) no-repeat center;

      @include background-size(cover);
    }
  }
}

.btn_view,
.btn_vote {
  border: 0;
  letter-spacing: 0;
  background: transparent;
  color: rgba($secondary, .6);
  text-align: center;

  @include rem(padding, 5px 15px);
  @include rem(font-size, 16px);
  @include rem(line-height, 24px);

  @include transition(color $transition-default);

  span {
    display: block;
  }

  .icon {
    margin: 0;
    color: #B2B8BF;

    @include rem(font-size, 22px);
    @include rem(line-height, 24px);

    @include transition(all $transition-default);
  }

  &:hover,
  &:hover .icon {
    color: #ffae2c;
  }

  ._inner {
    border-radius: 2px;

    @include rem(height, 24px);
    @include rem(width, 45px);
    @include rem(margin-bottom, 5px);

    @include transition(all $transition-default);
  }

  ._value {
    display: none;
    font-weight: $fw-semi;
    line-height: normal;

    @include rem(font-size, 16px);
  }

  &--active {
    color: #ffae2c;
    font-weight: $fw-semi;

    .icon {
      color: #fff;

      @include rem(font-size, 11px);
      @include rem(line-height, 11px);

      &:before {
        content: "\e94d";
      }
    }

    ._inner {
      background: #ffae2c;
      color: #fff;
    }

    ._value {
      display: inline-block;
      vertical-align: middle;
    }

    &:hover {
      color: #ffae2c;
    }

    &:hover .icon {
      color: #fff;
    }
  }
}

.btn_view {
  .icon {
    @include rem(font-size, 18px);
  }
}

.results_hints {
  color: rgba($secondary, .8);
  letter-spacing: 0;

  @include rem(font-size, 16px);
  @include rem(line-height, 24px);

  p {
    color: rgba($secondary, .8);
    letter-spacing: 0;

    @include rem(font-size, 16px);
    @include rem(line-height, 24px);
  }

  p, ol, ul {
    @include rem(margin-bottom, 13px);
  }

  h4 {
    letter-spacing: 0;
    text-transform: none;

    @include rem(font-size, 21px);
    @include rem(margin-bottom, 5px);
  }
}

[data-toggle='popover'] {
  @extend %noselect;
}

.content {
  padding-top: 0;
}

.nav-tabs > li > a:not(.btn) {
  background: transparent !important;
}

.nav-tabs sup {
  font-weight: normal;
  top: 0;
  position: static;

  @include rem(margin-left, 3px);
  @include rem(font-size, 16px)
}

.nav_scroll {
  .card__actions {
    @include rem(padding, 10px 0)
  }
}

.nav_scroll .nav-tabs {
  margin-right: 0 !important;
}

.play_video_container {
  text-align: center;

  @include rem(margin, 24px 0);

  .btn {
    @include rem(height, 40px);
    @include rem(width, 60px);
    @include rem(line-height, 20px);
  }

  img {
    @include rem(margin-right, -2px);
    @include rem(width, 13px);
  }

  span {
    font-weight: $fw-semi;
    line-height: normal;
    color: inherit;
    text-transform: uppercase;

    @include rem(font-size, 13px);
    @include rem(letter-spacing, 2px);
    @include rem(margin-left, 10px);
  }

  a {
    color: $text;

    &:hover {
      color: $primary;
    }
  }

  @media all and (max-width: $screen-landscape) {
    .btn {
      @include rem(line-height, 25px);
    }
  }
}