@model CompetitionPlatform.Models.ProjectViewModels.ProjectParticipantsPartialViewModel

<div class="table-responsive">
    <table class="table table--board table--participants">
        <tr>
            <th>Username</th>
            <th class="text-right">Registration date</th>
            <th class="text-center">Result</th>
        </tr>
        @foreach (var participant in Model.Participants)
        {
            <tr>
                <td>
                    <div class="user_badge user_badge--small">
                        <a href="/userprofile/@participant.UserIdentifier" class="user_badge__img"><img src="~/images/avatar.svg" alt=""></a>
                        <a href="/userprofile/@participant.UserIdentifier" class="user_badge__info link-text-black">@participant.FullName</a>
                    </div>
                </td>
                <td class="text-right">@participant.Registered.ToString("MMMM dd, yyyy hh:mm")</td>
                @if (participant.Result)
                {
                    if (participant.UserId == Model.CurrentUserId && Model.Status == Status.Submission)
                    {
                        <td class="text-center">
                            <form asp-controller="ProjectDetails" asp-action="EditResult" enctype="multipart/form-data">
                                <input asp-for="@participant.ProjectId" name="ProjectId" type="hidden"/>
                                <input asp-for="@participant.UserId" name="UserId" type="hidden"/>
                                <input type="submit" value="Edit" class="btn-link"/>
                            </form>
                        </td>
                    }
                    else
                    {
                        <td class="text-center"><span class="check check--primary"></span></td>
                    }
                }
                else
                {
                    <td class="text-center"></td>
                }
            </tr>
        }
    </table>
</div>