@model CompetitionPlatform.Models.ProjectViewModels.ProjectViewModel

@{
    ViewData["Title"] = "ProjectDetails";
}

<h2>@Model.Name</h2>

<div class="project-details-budget">
    <span class="h2">$@Model.BudgetFirstPlace</span>
    <div>1st PLACE</div>
</div>


@if (Model.BudgetSecondPlace != null)
{
    <div class="project-details-budget">
        <span class="h2">$@Model.BudgetSecondPlace</span>
        <div>2nd PLACE</div>
    </div>
}
@if (Model.BudgetThirdPlace != null)
{
    <div class="project-details-budget">
        <span class="h2">$@Model.BudgetThirdPlace</span>
        <div>3rd PLACE</div>
    </div>
}

<div class="progress">
    @{ var completion = 0;}

    @switch (Model.Status)
    {
        case Status.Initiative:
            completion = 20;
            break;
        case Status.CompetitionRegistration:
            completion = 40;
            break;
        case Status.Implementation:
            completion = 60;
            break;
        case Status.Voting:
            completion = 80;
            break;
        case Status.Archive:
            completion = 100;
            break;
        default:
            completion = 0;
            break;
    }

    <div class="progress-bar" role="progressbar" aria-valuenow="@completion" aria-valuemin="0" aria-valuemax="100" style="width: @completion%;">
        @Model.Status
    </div>

</div>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Info" aria-controls="Info" role="tab" data-toggle="tab">Info</a></li>
    <li role="presentation"><a href="#Participants" aria-controls="Participants" role="tab" data-toggle="tab">Participants</a></li>
    <li role="presentation"><a href="#Comments" aria-controls="Comments" role="tab" data-toggle="tab">Comments</a></li>
    <li role="presentation"><a href="#Results" aria-controls="Results" role="tab" data-toggle="tab">Results</a></li>
</ul>

<div class="tab-content project-details-tabs">
    <div role="tabpanel" class="tab-pane active" id="Info">@Model.Description</div>
    <div role="tabpanel" class="tab-pane" id="Participants">....</div>
    <div role="tabpanel" class="tab-pane" id="Comments">....</div>
    <div role="tabpanel" class="tab-pane" id="Results">....</div>
</div>
