@model CompetitionPlatform.Models.ProjectViewModels.ProjectDetailsStatusBarViewModel

<div class="row status-bar">
    @{
        var showDeadline = false;
        var deadline = "";
        var color = "";
    }

    @switch (Model.Status)
    {
        case Status.Initiative:
            color = "#0da7fc";
            break;
        case Status.CompetitionRegistration:
            color = "#13b72a";
            showDeadline = true;
            deadline = Model.CompetitionRegistrationDeadline.ToString("MMMM dd");
            break;
        case Status.Implementation:
            color = "#ff3e2e";
            showDeadline = true;
            deadline = Model.ImplementationDeadline.ToString("MMMM dd");
            break;
        case Status.Voting:
            color = "#ffae2c";
            showDeadline = true;
            deadline = Model.VotingDeadline.ToString("MMMM dd");
            break;
        case Status.Archive:
            color = "#b2b8bf";
            break;
    }

    <div class="progress-bar status-progress-bar" style="color: @color; border-color: @color;">
        <div class="progress-fill" style="width: @Model.StatusCompletionPercent%; background: @color;">
            <div class="progress-fill-text">
                <div class="inline project-status-bar-text navbar-left">
                    @Model.Status.ToString().ToUpper()
                </div>
                @if (showDeadline)
                {
                    <div class="inline project-status-bar-deadline-text navbar-right">
                        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> @deadline
                    </div>
                }
            </div>
        </div>
        <div class="inline project-status-bar-text navbar-left">
            @Model.Status.ToString().ToUpper()
        </div>
        @if (showDeadline)
        {
            <div class="inline project-status-bar-deadline-text navbar-right">
                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> @deadline
            </div>
        }
    </div>
</div>

