@model CompetitionPlatform.Models.ProjectViewModels.ProjectVoteViewModel

@{
    var totalVotes = Model.VotesFor + Model.VotesAgainst;
    var forPercent = Model.VotesFor * 100 / totalVotes;
    var againstPercent = Model.VotesAgainst * 100 / totalVotes;
}
<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@forPercent" aria-valuemin="0" aria-valuemax="100" style="width: @forPercent%">
        <span class="sr-only">@Model.VotesFor</span>
    </div>
</div>

<div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="@againstPercent" aria-valuemin="0" aria-valuemax="100" style="width: @againstPercent%">
        <span class="sr-only">@Model.VotesAgainst</span>
    </div>
</div>