@model CompetitionPlatform.Models.ProjectViewModels.TermsPageViewModel
@{
    ViewData["Title"] =  $"{Model.ProjectId} Terms of Use";
}

<div class="container">
    @Html.Raw(Model.Content)
</div>
<br />
<br />
<br />