@model CompetitionPlatform.Models.ProjectViewModels.ProjectListIndexViewModel

@{
    ViewData["Title"] = "Projects";
}

<div class="projects-filter-buttons">
    <div class="col-md-12">
        <button type="button" class="btn  btn-primary btn-sm">All Projects</button>
        <button type="button" class="btn  btn-info btn-sm">My Projects</button>
        <button type="button" class="btn  btn-info btn-sm">Following</button>
    </div>
</div>
<div class="col-md-12">
    <div class="row col-md-3 project-filter">
        <select id="projectStatusFilter" name="projectStatusFilter" class="form-control" value="Create">
            <option value="">Status : All</option>
            @foreach (var status in Enum.GetValues(typeof(Status)))
            {
                <option value=@status>@status</option>
            }
        </select>
    </div>

    <div class="row col-md-3 project-filter">
        <select id="projectCategoryFilter" name="projectCategoryFilter" class="form-control" value="Create">
            <option value="">Category: All</option>
            @foreach (var category in Model.ProjectCategories)
            {
                <option value="@category">@category</option>
            }
        </select>
    </div>
</div>
<div class="">
    <div id="projectListResults">
        @await Html.PartialAsync("ProjectListPartial", Model)
    </div>
</div>


