@model CompetitionPlatform.Models.ProjectViewModels.ProjectListIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}



<div class="row projects-filter-buttons">
    <div class="col-md-12">
        <button type="button" class="btn  btn-primary btn-sm">All Projects</button>
        <button type="button" class="btn  btn-info btn-sm">My Projects</button>
        <button type="button" class="btn  btn-info btn-sm">Following</button>
    </div>
</div>
<div class="row col-md-12">
    <div class="row col-md-3 project-filter">
        <select id="projectStatusFilter" name="projectStatusFilter" class="form-control" value="Create">
            <option value="">Status : All</option>
            @foreach (var status in Enum.GetValues(typeof(Status)))
            {
                <option value=@status>@status</option>
            }
        </select>
    </div>

    <div class="row col-md-3">
        <select id="projectCategoryFilter" name="projectCategoryFilter" class="form-control" value="Create">
            <option value="">Category: All</option>
            <option value="Finance">Finance</option>
            <option value="Technology">Technology</option>
            <option value="Bitcoin">Bitcoin</option>
            <option value="Mobile">Mobile</option>
        </select>
    </div>
</div>

<div id="projectListResults">
    @await Html.PartialAsync("ProjectListPartial", Model)
</div>

