@model CompetitionPlatform.Models.ProjectViewModels.ProjectListIndexViewModel

@{
    ViewData["Title"] = "Projects";
}

<section class="section section--lead section--padding">
    <div class="container container--extend">
        <h1 class="text-center page__title">Lykke<span>Streams</span></h1>
        <h3 class="page__subtitle mb0">Here the great ideas meet bright minds</h3>
    </div>
</section>

<section class="section section--competition_list">
    <div class="container container--extend">

        <div class="section_header">
            <h3 class="section_header__title">Current Projects</h3>
        </div>
    </div>
</section>

<section id="projectListResults" class="section section--competition_list">
    @await Html.PartialAsync("ProjectListPartial", Model)
</section>
