@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h2>Lykke City</h2>
        <a asp-area="" asp-controller="Project" asp-action="Create" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> New Project
        </a>
    </div>
</div>


