@{
    ViewData["Title"] = "Terms of Use";
}

<div class="container">
    <br>
    <br>
    <h1>Terms of Use</h1>

    <p>
        PLEASE READ THESE TERMS OF USE CAREFULLY. BY CLICKING TO ACCEPT, OR BY ACCESSING OR USING OUR SERVICES, YOU AGREE TO BE BOUND BY THESE TERMS OF USE AND ALL TERMS INCORPORATED BY REFERENCE.
    </p>

    <h2>
        Lykke Streams Overview
    </h2>
    <p>
        Lykke Streams is a new contest platform for innovation. The goal is to connect people who want something done with those who want to do it. It is for the early, creative, explorative phases of a new project, not for final delivery.
    </p>
    <p>
        Contest originators can post contests and offer rewards for completing them in phases. Developers, designers, and other professionals can work alone or in collaboration to try to earn awards.
    </p>
    <p>
        Users can browse Lykke Streams without registering for an account. To post a contest or a response, you will need to download the Lykke Wallet mobile app and register, then come back and log in. You must be at least 18 years old to participate. This document explains how the platform works.
    </p>

    <h3>
        Create a Project
    </h3>
    <p>
        A project creator fills out the form with one of the topics (finance, information technology, bitcoin, mobile, payments, design, media, communications, research) with the aim to find a team or individuals to work on the project. She describes the context, deliverables, timeframe for submission, and awards. Once the project is live, you can’t change it except to correct mistakes. You can make changes and run the project again after the deadline if you like.
    </p>
    <p>
        After the deadline, the creator can choose winners and award prize money. All awards go via Lykke wallets. Awards are at the sole discretion of creators. Awards are always for work already completed and submitted, not for any further work promised.
    </p>

    <h3>
        Lykke-Sponsored Projects
    </h3>
    <p>
        If you have an idea for a project you think would be beneficial to Lykke, you can create it as an initiative. Registered members may then vote for a project. If a proposal gets enough votes and seems beneficial to the Lykke community, Lykke will sponsor it and provide award money.
    </p>

    <h3>
        Participating
    </h3>
    <p>
        Each contest is a contract between creators and responders. Please read the specific rules for each contest before submitting.
    </p>

    <h3>
        Awards
    </h3>
    <p>
        Awards are given in Lykke coins via the Lykke wallet, which may then be turned into cash. We encourage multiple awards. The earlier the stage, the more small awards there should be. There can be two stages, so award winners can progress to the next stage and flesh out their submission. After that it usually goes to a direct contract.
    </p>

    <h2>
        How to participate?
    </h2>
    <p>
        Thank you for your interest in this project. We want you to understand how the contest works and what your responsibilities are.
    </p>

    <h3>
        General Terms
    </h3>
    <p>
        One person will respond. This person must register a Lykke Streams. You may submit one response before the stated deadline. You will not have a chance to re-submit, so please check your work carefully. The same work may not be re-submitted by someone else. The original work must be your own or that of your group and may not include parts owned by others unless you have the rights to include them. If you don’t comply with these terms, both Lykke and the contest originator reserve the right to disqualify your submission.
    </p>
    <p>
        When you submit your response, you retain all copyrights and similar rights to your material. However:
    </p>
    <p>
        <span class="middot h3">&middot;</span>
        Lykke reserves the right to display any responses on its web site or elsewhere, and
    </p>
    <p>
        <span class="middot h3">&middot;</span>
        If your response is given an award, you trade your rights to your work for the award, so the rights go to the person or company who originated the contest.
    </p>

    <h3>
        Awards
    </h3>
    <p>
        Your response will be given full consideration. However, awards are decided by the contest originator at their sole discretion. Contest originators do not have to give any awards, but they are encouraged to reward effort. If your response is not chosen, there is no appeals process. If you win and have no Lykke wallet or will not provide your personal details, cannot or will not accept the prize, it will be forfeited. Prizes will be paid to the winners in Lykke coins no more than 30 days following the conclusion of the competition. Taxes, if any, are the sole responsibility of the winner(s). Prizes that remain unclaimed or undeliverable for a period of six 6 months will be forfeited.
    </p>
    <p>
        Contest winners are decided by a score given by the community, as follows:
    </p>
    <p>
        First, the project originator screens applications to remove any double entries or entries of obviously poor quality. The originator or sponsor may select candidates for first and second place awards. Then, the community reviews the candidate projects and votes:
    </p>
    <p>
        <span class="middot h3">&middot;</span>
        Selected experts: 30%
    </p>
    <p>
        <span class="middot h3">&middot;</span>
        Project originator: 10%
    </p>
    <p>
        <span class="middot h3">&middot;</span>
        Sponsor providing cash incentives: 40%
    </p>
    <p>
        <span class="middot h3">&middot;</span>
        Lykke community votes: 20%
    </p>
    <p>
        This score determines the outcome of the process. It is possible that two or more projects will tie for first place, or that no first-place award will be given.
    </p>
    <p>
        Remember: entering twice will disqualify you! Review your entry package thoroughly before submitting.
    </p>

    <h2>
        How to create an Initiative?
    </h2>
    <p>
        An initiative is a contest you would like to see but can’t afford the award money. You may submit it to the community for voting. Initiatives with the most votes will be considered by Lykke for funding.
    </p>

    <h3>
        Prohibited Campaigns
    </h3>
    <p>
        You agree not to use Lykke Streams to perform any type of illegal activity or to take any action that negatively affects the reputation of Lykke Services. Acceptance of your project is at Lykke’s discretion.
    </p>

    <h3>
        Your Liability
    </h3>
    <p>
        Lykke assumes no liability for your actions. By filling out this form, you agree to be responsible for any complaints, disputes, or actions against you as a result. When you use Lykke Streams, you release Lykke from claims, damages, and demands of any kind that may arise as a result. Beware that people may try to scam you or get access to your organization - take precautions and engage with people slowly. Use this service at your own risk. Post only your own writing or the writing of your company - do not plagiarize or copy.
    </p>

    <h3>
        Contest Summary
    </h3>
    <p>
        A few sentences saying why you would like to launch this contest. Specify your goals.
    </p>

    <h3>
        Contest Problem
    </h3>
    <p>
        Say what problem you’re trying to solve.
    </p>

    <h3>
        The Solution Space
    </h3>
    <p>
        Give ideas of the kind of thinking or creativity you’re looking for. You might mention existing solutions, writing, ideas - anything that stimulates people to thinking about solving the problem.
    </p>

    <h3>
        Contest Deliverables
    </h3>
    <p>
        Be open and inclusive when asking for ideas, but be clear and concrete in specifying what it would take to win the award. Here you should be very specific. Say what possible forms submissions could take, what the scope is, how they should document it, etc. Give them a list for the deliverables you expect. You can say “Your response should include some or all of the following …”
    </p>

    <h3>
        Desired Awards
    </h3>
    <p>
        Since this is your initiative, please describe how many and what kinds of awards you think are appropriate and what a sponsor would get from sponsoring this contest. What kind of sponsors are you looking for? How involved would you like the sponsor to be? What is the minimum commitment you think is required?
    </p>

    <h3>
        Publicize Your Initiative
    </h3>
    <p>
        Once you enter it into the system, you should let as many people know about it as you can. Talk about it in the Lykke forums, use social media, and reach out to potential sponsors. It’s your project, we just provide the platform, so put your effort into it and try to get others interested.
    </p>
    <p>
        Lykke community members will see your initiative and vote. If it reaches the top of the stack, Lykke will look at it for possible sponsorship. You should reach out to other potential sponsors or groups to help build momentum. You could even ask people to contribute toward a single cash award. If donors and sponsors are interested, your initiative is on its way to becoming a contest here at Lykke Streams!
    </p>
    <p>
        Please read <a href="https://lykke.com/city/terms_of_use">Lykke Terms of Use</a> and <a href="https://lykke.com/city/privacy_policy">Lykke Privacy Policy</a>
    </p>

</div>
<br />
<br />
<br />