@model CompetitionPlatform.Models.BlogViewModels.BlogListIndexViewModel

@{
    ViewData["Title"] = "Blog";
    var allCategoryActive = "";

    if (ViewBag.AllCategoryActive)
    {
        allCategoryActive = "list_group__item--active";
    }
}

<section class="section section--padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 automargin">

                <h1 class="text-left visible-xs">Blog</h1>

                <div class="row">
                    <div class="col-xs-12 col-sm-3 pull-right">
                        <div class="hidden-xs">
                            @if (Model.IsAdmin)
                            {
                                <a asp-area="" asp-controller="Blog" asp-action="Create"><button class="btn btn-sm btn_edit">Create</button></a>
                            }
                            <h3 class="h3_small">Categories</h3>
                            <div class="list_group">
                                <ul id="blogCategoryFilters" class="list_group_inner">
                                    <li id="allFilter" class="list_group__item @allCategoryActive"><a href="#" class="list_group__link">All</a></li>
                                    <li id="newsFilter" class="list_group__item"><a href="#" class="list_group__link">News</a></li>
                                    <li id="resultsFilter" class="list_group__item"><a href="#" class="list_group__link">Results</a></li>
                                    <li id="winnersFilter" class="list_group__item"><a href="#" class="list_group__link">Winners</a></li>
                                    <li id="successFilter" class="list_group__item"><a href="#" class="list_group__link">Success stories</a></li>
                                    <li id="videosFilter" class="list_group__item"><a href="#" class="list_group__link">Videos</a></li>
                                    <li id="aboutFilter" class="list_group__item"><a href="#" class="list_group__link">About</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="news_filter">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 visible-xs">
                                    <div class="select select--with_label form-group" data-control="select">
                                        <label for="blogCategoryFilter" class="select__label control-label">Category:</label>
                                        <div class="select__value"><span class="_value">All</span></div>
                                        <select id="blogCategoryFilter" class="form-control select__elem">
                                            <option>All</option>
                                            <option>News</option>
                                            <option>Results</option>
                                            <option>Winners</option>
                                            <option>Success stories</option>
                                            <option>Videos</option>
                                            <option>About</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="blogListResults" class="col-xs-12 col-sm-9">
                        @await Html.PartialAsync("BlogListPartial", Model)
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>