.world, .page_world {
  .container {
    max-width: 970px+30px;
  }
}

.page_world {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;

  .header {
    padding: 58px 0;
    position: relative;
  }

  .nav {
    margin-left: -15px;
    padding: 9px 0;
    > li {
      margin-right: 20px;

      > a {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        color: rgba(#333, .4);

        &:hover {
          color: rgba(#333, .8);
        }
      }
    }
  }

  .content {
    padding-top: 0;
  }

  .footer__bottom {
    background: transparent;
  }

  .footer__copy {
    text-align: left;
  }

  a {
    color: #0da7fc;

    &:hover {
      color: #3f4d60;
      text-decoration: none;
    }
  }

  @media all and (max-width: 767px) {
    font-size: 16px;
    line-height: 26px;

    .header {
      padding: 28px 0;
    }

    .header__logo {
      display: block;
      width: 32px;
      overflow: hidden;

      img {
        height: 30px;
      }
    }

    .nav {
      float: right !important;
      padding: 2px 0;
      text-align: right;
      margin-left: -10px;
      white-space: normal;

      > li {
        margin-left: 0;
        margin-right: 0;
        float: none;
        display: inline-block;
        vertical-align: middle;

        &:first-child {
          margin-left: 0;
        }

        > a {
          font-size: 11px;
          padding: 4px 10px;
        }
      }
    }

    .footer__copy {
      font-size: 16px!important;
      text-align: center;
    }
  }

  @media all and (max-width: 360px) {
    .nav {
      padding: 0;
      margin-top: -10px;
    }
  }
}

.world {
  &.section--padding {
    padding-top: 40px;
  }

  .intro_text {
    .lead {
      font-size: 50px;
      font-weight: 600;
      line-height: 1.2;
      color: #333333;
      margin-bottom: 50px;
    }

    p {
      font-size: 22px;
      font-weight: 400;
      line-height: 1.64;
      color: #3f4d60;
      margin-bottom: 1em;
    }
  }

  .video {
    margin: 75px 0;
  }

  h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.43;
    color: #333333;
    margin-bottom: 18px;
  }

  h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.78;
    color: #333333;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .h4_uppercase {
    text-transform: uppercase;
    letter-spacing: 1.8px;
  }

  .list {
    margin-bottom: 110px;

    a {
      &:hover {
        text-decoration: none;
      }
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }

    &__item {
      margin-bottom: 30px;
    }

    &__icon {
      width: 40px;
      margin-right: 18px;
    }

    &__text {
      position: relative;
      top: -2px;
    }

    &--simple {
      list-style: disc inside;
      padding-left: 18px;

      .list__item {
        margin-bottom: 10px;
        white-space: normal;
        overflow: visible;

        span {
          display: inline;
        }
      }
    }
  }

  .world_contacts {
    h4 {
      margin-top: 20px;
    }
  }

  @media all and (max-width: 767px) {
    .intro_text {
      .lead {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 40px;
      }

      p {
        font-size: 18px;
      }
    }

    h3 {
      font-size: 22px;
    }

    h4 {
      font-size: 16px;
    }

    .video {
      margin: 45px 0 55px;
    }

    .list {
      font-size: 13px;
      white-space: nowrap;
      margin-top: 20px;
      margin-bottom: 60px;

      &__item {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @media all and (min-width: 768px) {
    .h4_uppercase {
      padding-right: 40px;
    }
  }
}