.header--new.fixed .page__title {
    display: none !important;
}

.project-details-category {
    text-align: left !important;
}

.header--new.nav-up .nav--header > li > a, .nav-up .header--new .nav--header > li > a, .header--new.fixed .nav--header > li > a {
    color: #fff !important;
    opacity: 0.8;
}

.clear-hr {
    width: 100% !important;
    max-width: 100% !important;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(238, 238, 238);
    margin-top: 15px;
}

.voting-button-filled {
    background: #ab00ff;
    color: #fff;
}

.content {
    padding-top: 0 !important;
}

.project-list-header {
    padding-left: 0 !important;
}

.remove-bottom-margin {
    margin-bottom: 0 !important;
}

.overflow-visible {
    overflow: visible !important;
}

.project-list-name-tag {
    width: 45px !important;
    height: 17px !important;
    opacity: 0.6 !important;
    font-size: 14px;
    text-align: left;
    color: #3f4d60 !important;
}

.link-text-black {
    color: inherit !important;
}

.user_badge__img img {
    height: 100% !important;
}

.project-extended-tag {
    margin-right: -8px;
}
