body {
    padding-top: 25px;
    padding-bottom: 20px;
}

html {
    width: calc(100vw - 34px);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.project-status {
    margin-bottom: 20px;
}

.project-status-initiative {
    border-color: #0da7fc;
    color: #0da7fc;
}

.project-status-competitionregistration {
    border-color: #13b72a;
    color: #13b72a;
}

.project-status-implementation {
    border-color: #ff3e2e;
    color: #ff3e2e;
}

.project-status-voting {
    border-color: #ffae2c;
    color: #ffae2c;
}

.project-status-archive {
    border-color: #3f4d60;
    color: #3f4d60;
}

.primary-color {
    color: #ab00ff;
}

.project-edit-status-display {
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-edit-status-circles hr {
    border: 1px dashed #3f4d60;
}

.project-edit-status-circles {
    margin-bottom: 100px;
}

.project-edit-status-initiative {
    background-color: #0da7fc;
    color: white !important;
    border: 0;
}

.project-edit-status-competitionregistration {
    background-color: #13b72a;
    color: white !important;
    border: 0;
}

.project-edit-status-implementation {
    background-color: #ff3e2e;
    color: white !important;
    border: 0;
}

.project-edit-status-voting {
    background-color: #ffae2c;
    color: white !important;
    border: 0;
}

.project-edit-status-archive {
    background-color: #3f4d60;
    color: white !important;
    border: 0;
}

.project-tile {
    min-height: 300px;
    max-height: 300px;
    margin-bottom: 40px;
}

.project-details-tabs {
    margin-top: 40px;
}

.project-details-budget {
    margin-bottom: 35px;
    margin-right: 40px;
}

.inline {
    display: inline-block !important;
}

.project-details-tags {
    margin-top: 25px;
    margin-bottom: 25px;
}

.project-details-tag {
    border: solid 1px #d3d6db;
    border-radius: 4px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    margin-bottom: 4px;
}

.project-index-budget {
    margin-top: 22px;
}

.project-details-comments {
    margin-top: 60px;
}

.bold-text {
    font-weight: bold;
}

.project-comment {
    margin-bottom: 30px;
    margin-left: 20px;
}

.project-comment-text {
    font-size: 16px;
    white-space: pre-line;
    padding-right: 30px;
}

.project-filter {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.comments-count {
    margin-right: 15px;
    margin-left: 20px;
}

.project-file {
    margin-top: 30px;
}

.index-comments-icon {
    top: 4px;
    margin-right: 1px;
}

.project-tile-bottom {
    margin-top: 10px;
}

    .project-tile-bottom img {
        width: 35px;
        height: auto;
    }

.project-index-author {
    margin-left: 15px;
    margin-bottom: -30px;
}

.project-index-author-text {
    margin-left: 10px;
    font-size: 16px;
}

.projects-filter-buttons {
    margin-top: 25px;
    margin-bottom: 25px;
}

.project-description {
    min-height: 150px;
    max-height: 150px;
}

.project-file-icon {
    font-size: 30px;
    margin-right: 5px;
}

.project-details-back {
    margin-top: 20px;
    border: 0 !important;
}

    .project-details-back p {
        font-size: 15px;
    }

.menu-top-panel {
    width: 100%;
}

    .menu-top-panel a {
        margin-left: 50px;
    }

.menu-top-panel-link {
    margin-bottom: 20px;
}

.menu-navigation-panel {
    height: 5px;
}

    .menu-navigation-panel a {
        font-weight: bold;
        margin-left: 50px;
    }

.new-project-button {
    margin-top: -15px;
}

.edit-project-button {
    margin-top: 20px;
    color: black;
}

.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px 0;
    font-size: 42px;
    line-height: 0.80;
    border-radius: 30px;
}

.project-voting-buttons {
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-voting-text {
    font-size: 16px;
}

.project-status-progress {
    height: 100px !important;
}

.project-details-status-button {
    width: 100%;
    margin-bottom: 10px;
    font-size: 17px;
}

.page-footer {
    height: 30px;
}

.project-details-button {
    margin-top: 3px;
    margin-right: 20px;
    border: 0;
}

.btn.nohover:hover {
    border: 0;
}

.project-details-right-panel {
    padding-left: 50px;
    margin-top: 30px;
}

.project-edit-status {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px 0;
    line-height: 1.70;
    border-radius: 30px;
    color: #3f4d60;
    border-color: #3f4d60;
    font-size: 17px;
    float: left;
}

.project-edit-last-updated {
    margin-top: 30px;
}

.vote-progress-bar {
    height: 7px;
}

.vote-progress-bar-text {
    margin-top: -10px;
    font-size: 18px;
}

.project-details-description {
    white-space: pre-line;
}

.project-comments-avatar img {
    width: 35px;
    height: auto;
}

.project-participant img {
    width: 35px;
    height: auto;
    margin-right: 10px;
}

.project-comment-author {
    margin-left: 10px;
}

.project-status-count p {
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.add-result-button {
    margin-bottom: 15px;
}

.project-details-participants span {
    color: #ab00ff;
}

.project-results-vote {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px 0;
    line-height: 1.00;
    border-radius: 30px;
    font-size: 17px;
    float: left;
}

.project-details-share-icons {
    margin-bottom: 25px;
}

    .project-details-share-icons img {
        margin-right: 5px;
        width: 40px;
        height: 40px;
    }

.project-details-header {
    font-size: 18px;
}

.project-details-voting-bars {
    margin-top: 10px;
}
